../*
**/**/*.bin
build/*
tools/GeoFromBin*
tools/level_settings/convert
tools/img_getprop
tools/rgb2c
assets/*.bin
assets/**/*.png
assets/tools/__pycache__/*
f3dex2/F3DEX2_2.04H/*
*.z64
textures/*
bin/*
.assets-local.txt
tools/mipspro*/
tools/gfxdis.f3dex2
tools/gfxdis_f3dex2
tools/n64graphics
tools/iplfontutil
tools/n64crc
tools/patch_libultra_math
tools/extract_assets
*.o
epic.*
__pycache__/*
tools/scut/__pycache__/*
tools/temp_tools/__pycache__/*
tools/asm-processor/__pycache__/*
asm-differ/__pycache__/*
.vscode/*
ctx.c
*.m2c
# Use these for scratch work
*.x
strings/*
# asm-differ .o file diffs
expected/*
