[submodule "libreultra"]
	path = libreultra
	url = https://github.com/farisawan-2000/libreultra/
[submodule "f3dex2"]
	path = f3dex2
	url = https://github.com/Mr-Wiseguy/f3dex2
[submodule "asm-processor"]
	path = tools/asm-processor
	url = https://github.com/farisawan-2000/asm-processor/
[submodule "tools/rgb2c"]
	path = tools/modern_rgb2c
	url = https://github.com/someone2639/modern_rgb2c
