../*
**/**/*.bin
build/*
tools/GeoFromBin*
assets/*
*.z64
textures/*
bin/*
.assets-local.txt
tools/mipspro*/
tools/n64graphics
tools/armips
tools/iplfontutil
*.o
__pycache__/*
.vscode/*
# Use these for scratch work
*.x
strings/*
